.hp {
    width: 20rem;
  }
  
  .toko {
    /* 6rem =6#s, rem+1 = #s+2 */
    width: 6rem;
  }
  
  .thumbnail {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center bottom;
  }