<div class="container">
  <div>
    <form (ngSubmit)="onSubmit()" #hpForm="ngForm">
      <div class="form-group row">
        <div class="col">
          <label for="link" class="sr-only">Link</label>
          <input type="url" class="form-control" id="link" placeholder="Link" required [(ngModel)]="model.link"
            name="link" #link="ngModel">
          <div [hidden]="link.valid || link.pristine" class="alert alert-danger">Link is required</div>
        </div> <!-- link -->
        <div class="col">
          <label for="source" class="sr-only">Source</label>
          <input type="url" class="form-control" id="source" placeholder="Source" [(ngModel)]="model.source"
            name="source" #source="ngModel">
        </div> <!-- source -->
        <div class="col">
          <label for="date" class="sr-only">Date</label>
          <input type="date" class="form-control" id="date" placeholder="Month 00, 20--" required
            [(ngModel)]="model.date" name="date" #date="ngModel">
          <div [hidden]="date.valid || date.pristine" class="alert alert-danger">Date is required</div>
        </div> <!-- date -->
      </div> <!-- link, source, date -->
      <div class="form-group row">
        <div class="form-group col-auto">
          <label for="count">Tokota count: </label>
        </div>
        <div class="form-group col-sm-1">
          <input type="number" class="form-control" id="count" required [(ngModel)]="model.count" name="count"
            #count="ngModel" (change)="tokoCount()" min="1">
        </div>
        <div class="form-group col">
          <div class="form-group row" *ngFor="let i of model.tokotas">
            <div class="col">
              <label for="id" class="sr-only">ID</label>
              <input type="number" class="form-control" id="id" required [(ngModel)]="i.id" name="id" #id="ngModel"
                placeholder="ID" min="0">
              <div [hidden]="id.valid || id.pristine" class="alert alert-danger">ID is required</div>
            </div> <!-- toko id -->
            <div class="col">
              <label for="comp" class="sr-only">Companions</label>
              <input type="number" class="form-control" id="comp" [(ngModel)]="i.comp" name="comp" #comp="ngModel"
                placeholder="Companions" min="0" max="3">
            </div> <!-- toko companion -->
            <div class="col">
              <label for="QLn" class="sr-only">Quick Learner Amount</label>
              <input type="number" class="form-control" id="QLn" [(ngModel)]="i.QLn" name="QLn" #QLn="ngModel"
                placeholder="QL#" min="0">
            </div> <!-- toko ql# -->
            <div class="col">
              <label for="QLl" class="sr-only">Quick Learner Link</label>
              <input type="string" class="form-control" id="QLl" [(ngModel)]="i.QLl" name="QLl" #QLl="ngModel"
                placeholder="QLlink">
            </div> <!-- toko ql link -->
          </div>
        </div>
      </div> <!-- individual tokota stuff -->
      <div class="form-group row align-items-center" *ngIf="model.source">
        <div class="col-sm-2 text-center">
          <label for="qual">Quality</label>
          <input type="number" class="form-control" id="qual" [(ngModel)]="model.qual" name="qual" #qual="ngModel"
            min="0" max="5">
        </div> <!-- quality -->
        <div class="col-sm-1 text-center">
          <label for="chibi">Chibi</label>
          <input type="checkbox" class="form-control" id="chibi" [(ngModel)]="model.chibi" name="chibi"
            #chibi="ngModel">
        </div> <!-- chibi -->
        <div class="col-sm-1 text-center">
          <label for="recol">Recol</label>
          <input type="checkbox" class="form-control" id="recol" [(ngModel)]="model.recol" name="recol"
            #recol="ngModel">
        </div> <!-- recol -->
        <div class="col-sm-1 text-center">
          <label for="bg">BG</label>
          <input type="checkbox" class="form-control" id="bg" [(ngModel)]="model.bg" name="bg" #bg="ngModel">
        </div> <!-- bg -->
        <div class="col text-center">
          <label for="hs">Headshots</label>
          <select class="custom-select" id="hs" multiple [(ngModel)]="model.hs" name="hs" #hs="ngModel">
            <option *ngFor="let toko of model.tokotas" [value]="toko.id">{{toko.id}}</option>
          </select>
        </div> <!-- hs -->
        <div class="col text-center">
          <label for="fb">Fullbodies</label>
          <select class="custom-select" id="fb" multiple [(ngModel)]="model.fb" name="fb" #fb="ngModel">
            <option *ngFor="let toko of model.tokotas" [value]="toko.id">{{toko.id}}</option>
          </select>
        </div> <!-- fb -->
        <div class="col-sm-2 text-center">
          <label for="sheet">Sheet</label>
          <input type="number" class="form-control" id="sheet" [(ngModel)]="model.sheet" name="sheet" #sheet="ngModel"
            min="0">
        </div> <!-- sheet -->
      </div> <!-- quality, chibi, recolor, bg, hs, fb, sheet -->
      <div class="form-group row align-items-center">
        <div class="col-sm-2 text-center">
          <label for="ownwork">Own work</label>
          <input type="number" class="form-control" id="ownwork" [(ngModel)]="model.ownwork" name="ownwork"
            #ownwork="ngModel" min="0" max="2">
        </div> <!-- own work -->
        <div class="col-sm-1 text-center">
          <label for="handler">Handler</label>
          <input type="checkbox" class="form-control" id="handler" [(ngModel)]="model.handler" name="handler"
            #handler="ngModel">
        </div> <!-- handler -->
        <div class="col-sm-2 text-center">
          <label for="starter">Starter</label>
          <input type="number" class="form-control" id="starter" [(ngModel)]="model.starter" name="starter"
            #starter="ngModel" min="0">
        </div> <!-- starter -->
        <div class="col-auto">
          <label for="lore" class="sr-only">Lore</label>
          <input type="text" class="form-control" id="lore" placeholder="Lore description" [(ngModel)]="model.lore"
            name="lore" #lore="ngModel">
        </div> <!-- lore -->
        <div class="col-sm-2 text-center">
          <label for="affil">Affiliated</label>
          <input type="number" class="form-control" id="affil" [(ngModel)]="model.affil" name="affil" #comp="ngModel"
            min="0" max="3">
        </div> <!-- affil -->
        <div class="col text-center">
          <label for="outfit">Outfitted</label>
          <select class="custom-select" id="outfit" multiple [(ngModel)]="model.outfit" name="outfit" #outfit="ngModel">
            <option *ngFor="let toko of model.tokotas" [value]="toko.id">{{toko.id}}</option>
          </select>
        </div> <!-- outfit -->
      </div> <!-- own work, handler, starter, lore, affil, outfit -->
      <div class="form-group row">
        <div class="col-sm-4 text-center">
          <label for="wc">Literature</label>
          <input type="number" class="form-control" id="wcval" [(ngModel)]="model.wc.val" name="wc" #wcval="ngModel"
            min="0">
          <select class="custom-select" id="wcid" multiple [(ngModel)]="model.wc.ids" name="wc" #wcid="ngModel">
            <option *ngFor="let toko of model.tokotas" [value]="toko.id">{{toko.id}}</option>
          </select>
        </div> <!-- wc -->
        <div class="col-sm-4 text-center">
          <label for="act">Activity</label>
          <input type="number" class="form-control" id="actval" [(ngModel)]="model.act.val" name="act" #actval="ngModel"
            min="0">
          <select class="custom-select" id="actid" multiple [(ngModel)]="model.act.ids" name="act" #actid="ngModel">
            <option *ngFor="let toko of model.tokotas" [value]="toko.id">{{toko.id}}</option>
          </select>
        </div> <!-- act -->
        <div class="col-sm-4 text-center">
          <label for="quest">Quest HP</label>
          <input type="number" class="form-control" id="questval" [(ngModel)]="model.quest.val" name="quest"
            #questval="ngModel" min="0">
          <select class="custom-select" id="questid" multiple [(ngModel)]="model.quest.ids" name="quest"
            #questid="ngModel">
            <option *ngFor="let toko of model.tokotas" [value]="toko.id">{{toko.id}}</option>
          </select>
        </div> <!-- quest -->
      </div> <!-- wc, act, quest -->

      <button type="submit" class="btn btn-success" [disabled]="!hpForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newForm(); hpForm.reset(); submitted=false">New Form</button>
      
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Reminder that you're just console.logging since that was way too much html</h2>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>